{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~": "./"
        }
      }
    ],
    ["inline-react-svg", { "svgo": false }]
  ],
  "presets": ["next/babel"]
}